<div class="row">
    <div class="col-md-12 text-center welcome">
        <h2 id="welcome_title">The Boston Globe!</h2>
        <button type="submit" id="scrape" class="btn btn-danger btn-lg"> Get Articles! </button>
    </div>
</div>